body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  border-radius: 10px;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  flex-wrap: wrap;
  overflow-x: auto;
}

h1 {
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}

thead {
  position: sticky;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
  max-width: 120px;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.add-transaction-link {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  right: 0px;
}

.add-transaction-link:hover {
  background-color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

form div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
}

button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #45a049;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
